@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Needing/Getting - OK Go</h1>


    <div id="frame-container">
        <iframe id="frame"
                src="https://www.youtube.com/embed/MejbOFk7H6c">
        </iframe>
    </div>

    <button onclick="myMove()">Click to Enlarge</button>
</div>
